html,body,p,span,ol,li,ul,h1,h2,h3,h4,h5{
    margin:0;
	padding:0;
    color:#404250;
    }
h1,h2,h3,h4,h5,h6,em,i {
	font-style:normal;
}
*{
	box-sizing: border-box;
}
ul,ol,li {
	list-style-type:none;
}
a {
	color:#666;
	text-decoration:none;
	outline:0;
}
a:hover {
	text-decoration:none;
}
input{
    background:none;
    outline:none;
    border:0px;
    -webkit-appearance: none;
}
// 布局
@mixin lc-row-start{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
@mixin lc-wrap-start {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
@mixin lc-row-start-start{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
@mixin lc-row-center{
	display: flex;
	align-items: center;
	justify-content: center;
}
@mixin lc-row-between{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@mixin lc-row-end{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

@mixin lc-row-between-start{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
@mixin lc-row-column-center{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
@function px2rem($px){
    //$px为需要转换的字号
	 @return ($px/37.5)+rem;
}
.hide{
    display: none;
}
.show{
    display: block;
}

// 接口点击测试button
.button_list{
    padding: 20px 15px;
}
.button_active{
    height: 35px;
    @include lc-row-center();
    color:#fff;
    line-height: 1;
    font-size: 1.07692308em;
    padding: .61538462em 1.23076923em;
    border-radius: .30769231em;
    box-shadow: 0 0 0.61538462em rgba(0,0,0,.4);
    margin: 10px;
}
.code_list{
	@include lc-wrap-start();
	li{
    overflow: hidden;
		display: block;
		color: #333;
		width: 100%;
		background-color: #dbf7db;
		border: 1px solid #ddd;
		line-height: 1;
		font-size: 1.07692308em;
		padding: .61538462em 1.23076923em;
		z-index: 10000;
		border-radius: .30769231em;
		// box-shadow: 0 0 0.61538462em rgba(0,0,0,.4);
		margin: 10px;
	}
}

// 重定向
.input_container{
	margin-top: px2rem(20);
	@include lc-row-center();
	span{
		display: block;
		margin-right: 10px;
	}
	input{
		background: #fff;
		height: 30px;
		margin-right: px2rem(16);
		width: px2rem(200);
	}
	.jump_to{
		padding: 5px 15px;
		border: 1px solid #ccc;
	}
}
