*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 2.3em;
  overflow: hidden;
}
.main {
  width:100vw;
  height:100vh;

  box-sizing: border-box;
  font-size: 1em;
  .icon {
    width: 1em;
    height: 1em;
  }
  .data{
    color: #0D5783;
  }
  .center-content{
    background-image: url("../images/bg.svg");
    background-size: auto 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .top{
      overflow: hidden;
      img{
        position: absolute;
        left: 1em;
        top: 2em;
        width: 5em;
      }
    }
    .title-img{
      max-width: 75vw;
    }
    .content-img{
      width: 100vw;
    }
    .main-img{

    }
    .fill-color-origion, .top{
      flex-grow: 1;
    }
    .fill-color-origion{
      width: 100vw;
      position: relative;
      top: -1px;
      background-color: rgb(245, 154, 85);
      display: flex;

      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      .btn-a:hover{
        //margin-top: -5px;
      }

      .download{
        position: relative;
        bottom: 0;
        img{
          width: 6em;
        }

      }


    }

  }

}

.score-frame{
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  top: 0;
  overflow: hidden;
  background-color: #F59A55;
  display: flex;
  visibility: hidden;
  //display: none;
  flex-direction: column;
  .score-tainer{
    box-sizing: border-box;
    flex-grow: 7;

    width: 100%;
    height: 100%;
    padding: 2em;
    padding-bottom: 0em;//这里为了适配下下面的小tips
    background-size: 100% 100%;
    //border: #f59a55 solid 0.1em;
    display: flex;
    .score-border{
      width: 100%;
      //height: 100%;
      flex-grow: 1;
      background-image: url('../images/bg.svg');
      background-size: 100% auto;
      //background-color: #FFF8E8;
      box-sizing: border-box;
      padding-top: 0.1em;
      box-shadow: 3px 3px #F59A55, 4px 4px #8b572a;
      display: flex;
      flex-direction: column;
      border: 2px rgba(173, 133, 97, 1) solid;
      border-radius: 10px;
      img {
        width: 100%;
        //padding-bottom: 0.1em;
      }
      .container{
        box-sizing: border-box;
        margin: 0.2em;
        flex-grow: 1;
        border-top: rgba(173, 133, 97, 0.7) 2px dotted;
        border-bottom: rgba(173, 133, 97, 0.7) 2px dotted;
        display: flex;
        flex-direction: column;
        align-items: center;

        .container-score-frame{
          justify-content: space-between;
          display: flex;
          padding-top: 1em;
          color: #8B572A;
          width: 100%;
          ul{
            list-style-type: none;

          }
          div{
             display: flex;
             align-items: center;
             justify-content: stretch;
            .one{
              padding-right: 1em;

            }
            .two {
              display: flex;
              flex-direction: column;
              div:nth-of-type(1){


                #scoreOne, #scoreTwo{
                  width: 1.5em;
                  height: 2.625em;
                }

              }
              div:nth-of-type(2){
                img{
                  width: 3em;
                }

              }
            }

          }
        }
        svg{
          flex-grow: 1;
          max-width: 100%;
        }
        img{
          //margin:0.2em;
          width: 100%;
          height: 100%;
        }
        .infomation{
          order: 3;
          font-size: 1em;
          color: #8B572A;
        }
      }
      .bottom{
        img{
          width: 6em;
          padding: 0.5em;
        }
      }

    }



  }
  .small-tips{
    font-size: 0.7em;
    text-align: right;
    margin-right: 2rem;
    color: #8B572A;
    opacity: 0.7;
  }
  .score-bottom{
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.4em;
  }
}



.btn{
  position: relative;
  text-align: center;

  img {
    width: 8em;
  }

  p{
    position: absolute;
    top: 0.7em;
    right: 0;
    left: 0;
    bottom: 0;
    display: inline-block;
    color: #804d25;
    //text-align: center;
  }
}

.result-download{
  position: fixed;
  top: 0;
  z-index: 1000;
  display: none;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  img{
    width: 100%;
  }
  .background{
    flex-grow: 1;
    background-color: #F59A55;

    &>p{
      text-align: center;
      padding: 0.3em;
      color: #8B572A;
    }
    .btn{
      //position: absolute;
      width: 100%;
      margin-top: 0.5em;
      //bottom: 1em;
    }
    .btn img{
      width: 8em;
    }
  }



}



#mooncake{
  display: none;
}
#myCanvas{
  display: none;
}

.opacity{
  animation: opacityKeyframes 1s;
  animation-fill-mode: forwards;
}

@keyframes opacityKeyframes
{
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
